@{
    ViewData["Title"] = "Home";
}

<h2 class="py-5">IT Conferences 2024/2025</h2>

<div id="frmContainer">
    <div class="row mb-5">
        <div class="col-md-3 pt-4">
            <div class="length-container mb-4">
                <span>Number in page</span>
                <select name="length">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="col-md-7">
            <div class="inner-form">
                <div class="input-field">
                    <button class="btn-search loading" type="button" id="btnSearch">
                        <span class="loader"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </button>
                    <input id="search" name="query" type="text" placeholder="What are you looking for?">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div id="aggregations"></div>
        </div>
        <div class="col-md-7">
            <div id="conferences">
            </div>
            <div class="loader-container" id="loading" style="display: none">
                <span class="loader"></span>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/index.js"></script>
}
