@using ITConferences.Enums
@{
    ViewData["Title"] = "Admin";
    ViewData["Header"] = "Crawlers";
    ViewData["SubHeader"] = "Manager data using IT Conferences Crawler Tool";
    ViewData["Background"] = "about";
    Dictionary<int, string> crawlerDictionary = Enum.GetValues(typeof(Crawler))
                                                       .Cast<Crawler>()
                                                       .ToDictionary(e => (int)e, e => e.ToString());

}


<h2 class="py-5">Crawler data</h2>
<div class="row">
    <div class="toolbars mb-4">
        <button type="button" class="btn btn-success btn-sm py-2 px-3" id="btnAddCrawler">
            <i class="fal fa-plus-circle"></i> Thêm mới
        </button>
    </div>
	<div id="containerCrawlers"></div>
</div>

<div class="modal fade" id="mdlCrawler" tabindex="-1" aria-labelledby="mdlTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlTitle">Add crawler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmCrawler">
                    <input name="id" type="hidden"/>
                    <div class="">
                        <label for="name" class="mb-2" style="color: #6c757d;opacity: 0.65;font-size:14px">Crawler</label>
                        <select class="form-select" id="" name="crawler">
                            @foreach (var item in crawlerDictionary)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" type="text" placeholder="Crawler name..." name="crawlerName" />
                        <label for="name">Crawler Name</label>
                        <div class="invalid-feedback">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="phone" type="text" placeholder="https://" name="crawlerUrl" />
                        <label for="phone">Crawler Url</label>
                        <div class="invalid-feedback">A url is required.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveCrawler">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
	<script src="~/js/admin.js"></script>
}