@{
	ViewData["Title"] = "Admin";
	ViewData["Header"] = "Crawler Tool";
	ViewData["SubHeader"] = "Manager data using IT Conferences Crawler Tool";
}


<h2 class="py-5">Crawler data</h2>
<div class="row">
	<div id="aggregations"></div>
</div>

@section Scripts
{
	<script src="~/js/admin.js"></script>
}